:root {
    --clr-main: #D29A9A;
    --clr-secondary: #D56868;
    --clr-third: #DA93A8;
    --clr-alt: #c7c1c1;
    --clr-dark: #000000;
    --clr-light: #ffffff;
    --clr-bg: #c8b4bc;


    /* sizing  */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.75rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

.about-section {
    /* border: 3px solid var(--clr-secondary); */
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/src/images/alt\ bg.jpeg);
    position: relative;
    isolation: isolate;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.about-right {
    width: 45%;
    min-height: 400px;
    background: #c7c1c1;
    display: grid;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 75px;
    padding: 1rem;
}

.about-input {
    padding: .6rem;
    border-radius: 10px;
    border: none;
    margin-bottom: .5rem;

}

.about-button {
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    border: none;
    font-weight: 700;
    letter-spacing: 0.2em;


}

.about-button:hover {
    background-color: var(--clr-light);
    color: var(--clr-secondary);
}

/* Responsive Resizing */

/* xs */
@media (min-width: 320px) {
    .about-right {
        width: 97%;
        height: 25%;
        margin: auto;
    }

    .about-right h1 {
        font-size: var(--size-base);
        margin-bottom: 1rem;
    }

    .about-right p {
        font-size: var(--size-xs);

    }

    .about-input {
        padding: .4rem .7rem;
        font-size: var(--size-xs);
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .about-button {
        font-weight: 500;
        padding: .6rem auto;
        font-size: var(--size-xs);
        width: 170px;
        height: 1.5rem;

    }
}

/* sm  */
/* @media (min-width: 375px) {} */

/* md  */
@media (min-width: 425px) {
    .about-right {
        width: 95%;
    }

    .about-right h1 {
        font-size: var(--size-xl);
        margin-bottom: .5rem;
        /* border: 5px solid aquamarine; */
    }

    .about-right p {
        font-size: var(--size-xs);

    }

    .about-input {
        font-size: var(--size-sm);
    }

    .about-button {
        font-size: var(--size-sm);
        width: 195px;
        height: 1.8rem;

    }
}

/* lg  */
@media (min-width: 768px) {
    .about-right {
        width: 70%;

    }

    .about-right h1 {
        font-size: var(--size-xl);
    }

    .about-right p {
        font-size: var(--size-base);

    }

    .about-input {
        font-size: var(--size-base);
    }

    .about-button {
        font-weight: 500;
        padding: .6rem auto;
        font-size: var(--size-base);
        width: 230px;
        height: 2rem;

    }
}

/* xl  */
@media (min-width: 1024px) {
    .about-right {
        width: 50%;
        margin-left: 275px;
    }

    .about-right h1 {
        font-size: var(--size-3xl);
    }

    .about-right p {
        font-size: var(--size-sm);
    }

    .about-input {
        padding: .5rem .8rem;
        font-size: var(--size-base);
    }

    .about-button {
        font-weight: 600;
        font-size: var(--size-base);
    }
}

/* 2xl  */
@media (min-width: 1440px) {
    .about-right {
        width: 55%;
        margin: auto;

    }

    .about-right h1 {
        font-size: var(--size-4xl);
    }

    .about-right p {
        font-size: var(--size-lg);
    }

    .about-input {
        padding: .7rem 0.2em;
        font-size: var(--size-base);
        width: 210px;
    }

    .about-button {
        font-weight: 700;
        font-size: var(--size-xl);
        width: 210px;
        height: 2.2rem;
    }
}