:root {
    --clr-main: #D29A9A;
    --clr-secondary: #D56868;
    --clr-third: #DA93A8;
    --clr-alt: #c7c1c1;
    --clr-dark: #000000;
    --clr-light: #ffffff;
    --clr-bg: #c8b4bc;


    /* sizing  */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.75rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}


.custom-section {
    /* border: 5px solid sandybrown; */
    background-color: var(--clr-bg);
    padding: .5rem;
    height: 100dvh;
    text-align: center;
    justify-content: center;
}


.custom-description p {
    /* border: 5px solid fuchsia; */
    text-align: center;
    width: 50%;
    position: relative;
    right: -25%;

}

.custom-form-box {
    /* border: 5px solid seagreen; */
    margin: auto;
    padding: .5rem .2rem;
    width: 80%;
}

.comment-form {
    display: grid;
    gap: .5rem;
}

.comment-form input {
    padding: .5rem;
    width: 50%;
    margin: auto;
    outline: none;
}

.comment-form textarea {
    width: 50%;
    margin: auto;
}

.submit-btn {
    background-color: var(--clr-main);
    position: relative;
    left: 40%;
    margin-top: .5rem;
}

.submit-btn:hover {
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    border: 2px solid var(--clr-light);
}