:root {
    --clr-main: #D29A9A;
    --clr-secondary: #D56868;
    --clr-third: #DA93A8;
    --clr-alt: #c7c1c1;
    --clr-dark: #000000;
    --clr-light: #ffffff;
    --clr-bg: #c8b4bc;


    /* sizing  */
    --size-xxs: 0.5rem;
    --size-xs: 0.65rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.75rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}


.hero-section {
    background-image: url(/src/images/bg.jpg);
    position: relative;
    isolation: isolate;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    /* border: 5px solid var(--clr-main); */
    text-align: center;
    height: 100dvh;
    width: 100%;
}

.button-select {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
}

.hero-button {
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    border: none;
}

.hero-button:hover {
    background-color: transparent;
    color: var(--clr-secondary);
    transition: 0.5s;
}

/* Responsive Resizing */

/* xs */
@media (min-width: 320px) {

    .logo-heading {
        font-size: var(--size-xs);

    }

    .logo-header {
        width: 25px;
    }

    .nav-list {
        font-size: var(--size-xxs);
        margin-right: .4rem;
        letter-spacing: 0;
    }

    .hero-button {
        font-size: var(--size-xs);
        width: 150px;
        height: 1.5rem;
    }

}

/* sm  */
@media (min-width: 375px) {
    .nav-list {
        font-size: var(--size-xxs);
        margin-right: .4rem;
        letter-spacing: 0;
    }
}

/* md  */
@media (min-width: 425px) {
    .logo-heading {
        font-size: var(--size-lg);

    }

    .logo-header {
        width: 30px;
    }

    .nav-list {
        font-size: var(--size-xs);
        margin-right: .4rem;
        gap: .2rem;
        letter-spacing: 0;
    }

    .hero-button {
        font-size: var(--size-sm);
        width: 175px;
        height: 1.8rem;
    }
}

/* lg  */
@media (min-width: 768px) {

    .logo-heading {
        font-size: var(--size-2xl);

    }

    .logo-header {
        width: 36px;
    }

    .nav-list {
        font-size: var(--size-sm);
        margin-right: .4rem;
        gap: .5rem;
        letter-spacing: 0;
    }

    .hero-button {
        font-size: var(--size-base);
        width: 200px;
        height: 2rem;
    }
}

/* xl  */
@media (min-width: 1024px) {

    .logo-heading {
        font-size: var(--size-3xl);

    }

    .logo-header {
        width: 48px;
    }

    .nav-list {
        font-size: var(--size-xl);
        margin-right: .4rem;
        gap: .5rem;
        letter-spacing: 0;
    }

    .hero-button {
        font-size: var(--size-xl);
        width: 220px;
        height: 2.5rem;
    }
}

/* 2xl  */
@media (min-width: 1441px) {

    .logo-heading {
        font-size: var(--size-4xl);

    }

    .logo-header {
        width: 55px;
    }

    .nav-list {
        font-size: var(--size-2xl);
        margin-right: .4rem;
        gap: 1rem;
        letter-spacing: 0;
    }

    .hero-button {
        font-size: var(--size-xl);
        width: 250px;
        height: 2.6rem;
    }
}