.hero-section {
    background-image: url(/src/images/bg.jpg);
    position: relative;
    isolation: isolate;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center center; */
    /* border: 5px solid var(--clr-main); */
    text-align: center;
    height: 100dvh;
    width: 100%;
}

.button-select {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
}

.hero-button {
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    border: none;
}

.hero-button:hover {
    background-color: transparent;
    color: var(--clr-secondary);
    transition: 0.5s;
}