/* Responsive Resizing */

/* xs */
/* @media (min-width: 320px) {} */

/* sm  */
/* @media (min-width: 375px) {} */

/* md  */
/* @media (min-width: 425px) {} */

/* lg  */
/* @media (min-width: 768px) {} */

/* xl  */
/* @media (min-width: 1024px) {} */

/* 2xl  */
/* @media (min-width: 1440px) {} */


/* sizing  */
/* --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.75rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem; */

/* Color pallette */

/* --clr-main: #EACFCF;
    --clr-secondary: #D56868;
    --clr-third: #DA93A8;
    --clr-alt: #492E5D;
    --clr-dark: #000000;
    --clr-light: #ffffff;
    --clr-bg: #FFF3F8; */


.nav-container {
    /* border: 5px solid purple; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-container {
    /* border: 2px solid orangered; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-left: 0.5rem;

}

/* .logo-heading {
    border: 2px solid orangered;
    font-size: var(--size-2xl);
    font-family: "Mynerve", sans-serif;
} */

/* 
.logo-header {
    width: 40px;
} */


.nav-list {
    /* border: 5px solid green; */
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-right: .8rem;
}

.nav-list a {
    text-decoration: none;
    color: var(--clr-black);
    font-weight: 600;

}

.nav-list a:hover {
    color: var(--clr-secondary);
}

.btn {
    font-weight: 600;
    font-family: "MuseoModerno", sans-serif;
    border-radius: 10px;
    box-shadow: 0 2.5px 8px var(--clr-dark);
    transition: transform 0.3s, box-shadow 0.3s;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px var(--clr-main);
}